a{
    text-decoration: none;
}
.container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 500px;
}
.left-item-edit img{
    height: 106px;
    margin: 40px 2px 0px -30px;
}
.left-item-edit h2{
    font-family: SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    font-size: 28px;
    font-weight: normal;
    line-height: 32px;
    width: 500px;
}
.item2{
    
}
.form{
    text-align: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1);
    box-sizing: border-box;
    margin: 40px 0 0;
    padding: 20px 0 28px 0;
    width: 395px;
}
.input-email, .input-pass{
    font-size: 17px;
    width: 365px;
    margin-left: 16px;
    padding: 27px 18px;
    border-radius: 6px;
    font-family: inherit;
    background: #FFFFFF url(/rsrc.php/v3/yU/r/O7nelmd9XSI.png) repeat-x;
    border: 1px solid #dddfe2;
    color: #1d2129;
    height: 22px;
    line-height: 16px;
    
}
/* submit section */
.login-button{
    margin-bottom: 20px;
}
.login-button button{
    background-color: #1877f2;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 20px;
    font-weight: bold;
    line-height: 48px;
    padding: 0 16px;
    width: 365px;
    font-family: inherit;
   
}
.border{
    border-bottom: 1px solid #dadde1 !important;
    margin: 20px 16px;
}
.cna-button {
    padding-top: 10px;
}
.cna-button button {
    border: none;
    border-radius: 6px;
    font-size: 17px;
    line-height: 48px;
    padding: 0 16px;
    font-family: inherit;
    background-color: #42b72a;
    color: #fff;
    font-weight: bold;
}