/* Basic Codes Start */
*{
    padding: 0;
    margin: 0;
}
body{
    background-color: #eee;
    font-family: 'Roboto', sans-serif;
}
.container{
    max-width: 1000px;
    height: auto;
    background-color: #E4F9F5 ;
    margin: 0 auto;
    padding: 20px;
}
.div-clear{
    clear: both;
}
hr{
    border: 2px solid black;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}
.common-hr{
    border: 1px solid black;
    width: 100%;
    margin: 20px auto;
    border-bottom: none;
}
/* Basic Codes End */

/* Header start */

header{

}
.profile-img{
    width: 100px;
    height: 120px;
    border: 3px solid white;
    border-radius: 50px 50px;
    float: left;
}
.header-bio{
    float: left;
    padding: 20px;
}
h1,h2,h3,h4,h5,h6{
    color: #11999e;
}
.header-contact{
    float: right;

}
.header-contact a{
    text-decoration: none;
    color: #11999e;
    font-weight: bold;
    padding: 20px;
}
.header-contact a:hover{
    text-decoration: underline;
    color: tomato;
}
/* Header End */


/* Personal Section Start */

#personal-section{}

.content{
    margin: 45px 0;
}

.left-div{
    float: left;
    width: 30%;
}

.right-div{
    float: left;
    width: 70%;
}

/* Personal Section end */