/* CSS */
.div1 {
  font-size: 25px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.main-box {
  display: flex;
  gap: 15px;
  flex-wrap: wrap;
}

.box {
  background: #b9d6f2;
  border-radius: 10px;
  text-align: center;
  padding: 25px;
  margin-bottom: 20px;
}

.hero {
  background: aquamarine;
  padding: 40px 20px;
}

button {
  background: #eb4d4b;
  color: #fff;
  padding: 15px 30px;
  border: 0;
  border-radius: 5px;
  margin: 10px 0;
}

ul {
  margin: 30px 0 0 30px;
}
