<%- include("../partials/head") %>
</head>
  <body>
  <%- include("../partials/header") %>
    <main>
      <h1 class="text-3xl font-bold text-red-500 mb-4">Home Registered Successfully</h1>
      <p class="text-lg text-gray-600 mb-5">Your home has been added to our listings.</p>
      <button type="submit" class="bg-[#ff5a5f] text-white p-2 cursor-pointer rounded-sm">
        <a href="/">Return to Home</a>
      </button>
    </main>
  </body>
</html>
