.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin: 10px 0 40px 0;
}

.button {
  width: 80px;
  height: 80px;
  border-radius: 5px;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  cursor: pointer;
}
