/* CSS */
.div1 {
  font-size: 25px;
}
#divtag {
  justify-content: center;
  align-items: center;
}
#container {
  width: 400px;
  height: 400px;
  position: relative;
  background: yellow;
}
#animate {
  width: 50px;
  height: 50px;
  position: absolute;
  background: red;
}
