<header>
  <nav>
    <ul>
      <li>
        <a class="<%= currentPage === 'home' ? 'bg-red-500' : 'hover:bg-red-500' %>" href="/">Home</a>
      </li>
      <li>
        <a class="<%= currentPage === 'addHome' ? 'bg-red-500' : 'hover:bg-red-500' %>" href="/host/add-home"
          >Add Home</a
        >
      </li>
    </ul>
  </nav>
</header>
