/* Default Css */
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
}
.text-left{
    text-align: left;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.left{
    float: left;
}
.right{
    float: right;
}
img{
    max-width: 100%;
}
a{
    text-decoration: none;
}
.mid-content{ 
    max-width: 1225px;
    margin: auto;
}

/* Begin main css */

body,h1,h2,h3,h4,h5,h6,a,p,span{
    font-family: 'Work Sans', sans-serif;
}

.header-section{
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 9px 0;
    position: fixed;
	left: 0;
	top: 0;
	z-index: 99;
	width: 100%;
}
.header-section a{
    color: #010101;
}
.header-logo{
    width: 30%;
    margin-top: 8px;
}
.header-menu{
    width: 55%;
}
.header-button{
    width: 14%;
    text-align: right;
}
.header-btn {
    border: 2px solid #647adf;
    display: inline-block;
    padding: 9px 30px;
    margin-top: 4px;
    color: #647adf !important;
    border-radius: 5px;
    font-size: 16px;
    transition: .6s;
    font-weight: 600;
}  
.header-btn:hover{
    background-color: #647adf;
    color: #fff !important;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223,.9);
}   
.header-logo img{
    height: 45px;
    float: left;
    margin-right: 12px;
}

.logo span {
    display: inline-block;
    font-weight: 500;
    font-size: 26.6px;
    transition: .6s;
    margin-top: 6px;
}     
.logo span:hover{     
    color: #8f8fa4;
}
.primary-menu ul li{
    display: inline-block;
}
.primary-menu ul li a{
    display: block;
    padding: 0 18px;
    line-height: 53px;
    font-size: 16px;
    transition: .5s;
    
}
.primary-menu ul li:hover > a{
    color: #6278df;
    background-color: rgba(0,0,0,0.1);
}

/* DrowDown menu */
.primary-menu ul li{
    position: relative;

}
.primary-menu ul li ul{
    position: absolute;
    left: 0;
    top: 100%;
    width: 180px;
    background-color: #fff;
    opacity: 0;
    visibility: hidden;
    transform-origin: top center;
    transform: scaleY(0);
    transition: .6s;
    z-index: 50;
}
.primary-menu ul li ul li a{
    border-bottom: 1px solid #8f8fa4;
    text-align: center;
}
.primary-menu ul li:hover ul{
    opacity: 1;
    visibility: visible;
    transform: scaleY(1);
    z-index: 50;
}
.primary-menu ul li ul li{
    display: block;
}
/* Banner-section */
.banner-section{
    background: url(./img/mbr-4.jpg) no-repeat center center;
    background-size: cover;
    padding: 180px 0;
    color: #fff;
    position: relative;
    z-index: 9;
    margin-top: 70px;
}
.banner-section::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,.4);
    z-index: -1;

}
.banner-content h3{
    font-size: 22px;
    font-weight: 400;
}
.banner-content h2{
    font-size: 60px;
    margin: 23px 0;
}
.default-btn{
    color: #7d7d7d;
    background-color: #fff;
    padding: 16px 27px;
    display: inline-block;
    border-radius: 10px;
    font-size: 19px;
    font-weight: 600;
    margin-left: 10px;
    margin-right: 10px;
    transition: .6s;
}
.default-btn:hover{
    background-color: #7e90e4;
    color: #fff;
}
.banner-bottom{
    background-color: #f7f9ff;
    padding: 100px 0;
}
.video-left {
	width: 46%;
	margin-top: 40px;
	margin-left: 3%;
}
.video-content {
	width: 44%;
	margin-right: 2%;
}
.video-content h3 {
	font-size: 44px;
	font-weight: 400;
	margin-bottom: 15px;
	line-height: 1.4em;
}
.video-content p {
	font-size: 20px;
	color: #767676;
	line-height: 1.5em;
}
/* Service Section */
.service-section{
    background-color: #ffffff;
    padding: 100px 0;
}
.service-title h1 {
    font-size: 3.6rem;
    font-weight: 700;
}
.service-title p {
    color: #767676;
    font-size: 20px;
    margin-top: 20px;
}
/* Service Items */
.services-items{
    margin-top: 90px;
}
.service-box {
	width: 32%;
	box-shadow: 4px 4px 20px 0 rgba(0,0,0,0.1);
	margin-right: 1%;
	margin-bottom: 30px;
	padding: 23px 39px;
	box-sizing: border-box;
}
.service-box:nth-child(3n+3){
    margin-right: 0;
}
.s-icon {
    width: 60px;
    float: left;
    min-height: 194px;
    font-size: 45px;
    color: #6278df;
    margin-right: 10px;
}
.s-content {
    margin-top: 8px;
}
.s-content h3 {
    font-size: 23px;
    font-weight: 500;
    margin-bottom: 30px;
}
.s-content p {
    color: #767676;
    font-size: 20px;
    line-height: 1.6em;
}
/* Pricing Table */
.pricing-table-section{
    background-color: #f7f9ff;
    padding: 50px;
}
.pricing-tables{
    margin-top: 80px;
}
.section-title h2 {
	font-size: 57.6px;
	font-weight: 400;
}
.pricing-table-section .section-title p{
	font-size: 25.6px;
	font-weight: 200;
	color: #767676;
	margin-top: 35px;
}
.pricing-table-items{
    width: 32%;
    margin-right: 2%;
    background-color: #fff;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223,.1);
}
.pricing-table-items:nth-child(3){
    margin-right: 0;
}
.p-heading{
    padding: 30px;
    border-bottom: 1px solid #ddd;
    transition: .5s;
}
.p-heading h4{
    font-size: 25.6px;
    font-weight: 500;
}
.p-heading h2{
    font-size: 55px;
    margin: 23px 0;
}
.p-heading h2 span{
    font-size: 20px;
}
.p-heading h5{
    font-size: 22.5px;
    margin: 25px 0;
    font-weight: 500;
}
.p-heading p{
    font-size: 19.5px;
    font-weight: 300;
}
.p-content ul{
    list-style: none;
}
.p-content ul li {
	padding: 18px 0;
	margin: 10px 0;
	font-weight: 300;
	font-size: 20px;
	color: #767676;
}
.p-content ul li span{
    color: #6278df;
    margin-right: 10px;
    font-size: 30px;
    margin-left: 30px;
}
.p-button .default-btn{
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223,.3);
    margin-bottom: 45px;
}
.pricing-table-items:hover .p-heading{
    background-color: #6278df;
    color: #fff;
}
.pricing-table-items:hover .p-button .default-btn{
    background-color: #6278df;
    color: #fff;
}
.p-button .default-btn:hover{
    background-color: #000 !important;
    color: #fff !important;
}
/* Team Section */

.team-section{
    padding: 100px 0;
}
.team-section .section-title h2{
    font-size: 40px;
}
.team-members{
    margin-top: 80px;
}
.members{
    width: 23%;
    background-color: #fff;
    margin-right: 2%;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223,.3);
}
.members img{
    width: 100%;
    border-radius: 10px 10px 0 0;
}
.member-bio{
    padding: 30px;
}
.member-bio h4{
    font-size: 23px;
    margin-bottom: 12px;
    font-weight: 500;
}
.member-bio p{
    color: #767676;
    font-size: 19px;
}
/* New letter section */

.news-letter-section{
    padding: 100px 0;
    background-color: #f7f9ff;
}
.newsletter-section .newsletter-title h2{
    font-size: 44.8px;
    margin-top: 35px;
    margin-bottom: 45px;
}
.newsletter-section .newsletter-title p{
    font-size: 25.6px;
	font-weight: 200;
	color: #767676;
	margin-top: -35px;
}
input:focus{
    outline: none;
}
.default-input {
    width: 350px;
    padding: 20px 15px;
    font-size: 20px;
    border: 1px solid #e4e4e4;
    border-radius: 10px;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223,.1);
    transition: .4s;
    box-sizing: border-box;
}
.default-input:focus{
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223,.9); 
    border: 1px solid #6278df;  
    border-radius: 11px;
}
.submit-btn{
    background-color: #6278df;
    border: 2px solid #6278df;
    color: #ffffff;
    padding: 18px 47px;
    border-radius: 6px;
    font-size: 21px;
    margin-left: 25px;
    cursor: pointer;
    display: inline-block;
    font-weight: 600;
    transition: .4s;
}
.submit-btn:hover {
    color: #6278df;
    background-color: #fff;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223,.9);
}
/* BLog Section */

.blog-section {
	padding-top: 20px;
	background-color: #fff;
	margin-top: 0;
	padding-bottom: 85px;
}
.blog-title {
	padding: 60px 0;
}
.b-heading{
    width: 50%;
}
.b-heading h2{
    font-size: 45px;
    line-height: 1.4em;
    font-weight: 500;
}
.b-content{
    width: 50%;
}
.b-content p{
    font-size: 21px;
    line-height: 1.5em;
    font-weight: 400;
    color: #767676;
}
.blog-items{}

.blog-post-items{
	width: 48%;
	background-color: #fff;
	box-shadow: 3px 4px 30px 0 rgba(98, 120, 223,.3);
	padding: 8px 0;
}
.blog-post-items img {
	float: left;
	width: 320px;
	margin-right: 23px;
}
.blog-post-content h3 {
	font-size: 21px;
	font-weight: 500;
	line-height: 1.5em;
	margin-top: 49px;
	margin-bottom: 23px;
}
.blog-post-content p {
	font-size: 21px;
	font-weight: 300;
	color: #767676;
	word-spacing: 6.5px;
}
/*  Testimonial Section  */

.testimonial-section{
    background-color: #f7f9ff;
    padding: 80px 0;
}
.testimonial-items{
    margin-top: 100px;
}
.testi-s-title p{
    font-size: 25.6px;
	font-weight: 200;
	color: #767676;
}
.testi-s-title h2{
    font-size: 57.6px;
	font-weight: 400;
    margin-top: 20px;
    margin-bottom: -27px;
}
.ti-item{
    width: 30%;
    margin-right: 2%;
    margin-left: 2%;
}
.ti-item:last-child{
    margin-right: 0;
}
.t-content{
    background-color: #fff;
    box-shadow: 3px 4px 30px 0 rgba(98, 120, 223,.3);
    padding: 46px 40px;
    box-sizing: border-box;
    margin-bottom: 34px;
    position: relative;
}
.t-content::after{
    content: "";
    position: absolute;
    bottom: -19px;
    right: 0;
    left: 0;
    margin: auto;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #ffffff transparent transparent transparent;    
}
.t-content p{
    color: #767676;
    font-size: 20px;
    text-align: center;
    font-weight: 300;
    line-height: 1.8em;
    position: relative;
    margin-bottom: 0;
}
.t-content p::before {
	content: "\f10d";
	font-family: FontAwesome;
	font-size: 76px;
	position: absolute;
	opacity: 0.15;
	top: -10px;
	left: -265px;
	right: 0;
}
.t-user{
    width: 260px;
    margin: auto;
}
.t-user img{
    border-radius: 50%;
    width: 80px;
    float: left;
    margin-right: 24px;
}
.t-user-bio {
	position: relative;
	top: 10px;
}
.t-user-bio h4{
    font-size: 21px;
    line-height: 1.5em;
    letter-spacing: normal;
    font-weight: 500;
}
.t-user-bio span{
    color: #767676;
    font-size: 16px;
    line-height: 1.4em;
}
/*  Last Section  */

.contact-section {
    padding-top: 80px;
}
textarea:focus{
    outline: none;
}
.contact-row{}

.content-left-map{
    width: 52%;
    margin-left: 2%;
}
.content-right-form{
    width: 33%;
    margin-top: 40px;
    margin-right: 10%;
}
.footer-contact-from .w100{
    width: 100%;
}
.footer-contact-from .w50{
    width: 48%
}

.footer-contact-from .default-input {
    margin-bottom: 20px;
}
.footer-contact-from {
    margin-top: 60px;
}
.footer-contact-from .submit-btn {
    margin-left: 0;
}
.footer-contact-from textarea {
    height: 200px;
}
.content-right-form p {
    font-size: 21px;
    color: #767676;
    line-height: 1.8em;
}
.content-right-form h4 {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 22px;
}
.footer-contact-from {
    margin-top: 60px;
}
/* Footer Section */

.footer-section {
	position: relative;
	top: 65px;
    padding-bottom: 45px;
}
.footer-content{
    font-size: 21px;
    line-height: 1.5em;
}