/* Defualt css */
*{
   margin: 0; 
   padding: 0;
}
.clearfix::after{
    content: "";
    clear: both;
    display: block;
}
.text-center{
    text-align: center;
}
.text-left{
    text-align: left;
}
.text-right{
    text-align: right;
}
img{
    max-width: 100%;
}
.fix-width{
    width: 1078px;
    margin: auto;
}
.ajaira{
    height: 2000px;
}
/* Header menu */
.header{
    background-color: rgb(52, 152, 219);
}
.header-left{
    float: left;
    width: 30%;
}
.header-left a img{
    width: 300px;
    height: auto;
    margin-top: 15px;
}
.header-right{
    float: right;
    width: 70%;
}
.header-right ul{
    text-align: right;
}
.header-right ul li{
    display: inline-block;
    margin-left: -6px;
}
.header-right ul li a{
    color: #fff;
    text-decoration: none;
    padding: 0px 30px;
    display: block;
    font-size: 20px;
    line-height: 53px;
    background-color: #2980b9;
    border-left: 1px solid #34ace0;
    transition: .5s;
    margin-top: 25px;   
}
.header-right ul li a:hover{
    background-color: #0652DD;
}
/* Banner */
.banner{
    background: url(img/1.webp) no-repeat;
    background-size: cover;
    padding: 200px 0;
}
.banner-caption h1{
    color: #fff;
    background-color: rgba(216, 164, 115, 0.712);
    font-size: 40px;
    max-width: 400px;
    margin: auto;
    margin-top: 20px;
}
.banner-caption h2{
    background-color: rgba(136, 63, 63, 0.726);
    color: #fff;
    display: inline-block;
    padding: 15px 18px;
    font-size: 49px;
    border-radius: 7px;
}
/* About us */
.about{
    margin: 60px auto;
    border: 4px solid #0652DD;
    width: 1000px;
    
    
}
.about h2{
    font-size: 45px;
    margin-bottom: 25px;
    font-style: italic;
    color: darkcyan;
}
.about p{
    max-width: 600px;
    margin: auto;
    font-size: 20px;
    font-style: oblique;
    font-family: 'Goudy Bookletter 1911', serif;
}
/* service header */
.servi1{
    margin-top: 60px;
}
.servi1 h2{
    font-size: 45px;
    font-style: italic;
    background-color: rgba(15, 228, 61, 0.644);
    max-width: 200px;
    margin: auto;
    margin-bottom: 4px;
    border-radius: 20px;
}
.servi1 span{
    display: block;
    height: 80px;
    width: 80px;
    color: rgba(209, 29, 29, 0.726);
    font-size: 80px;
    margin: auto;
    border-radius: 50%;
}
/* Services */
.services{
    margin-top: 20px;
}
.sevice-item{
    float: left;
    width: 31.3%;
    padding: 35px 15px;
    border: 1px solid rgba(3, 231, 201, 0.603);
    box-sizing: border-box;
    margin-left: 1%;
    margin-right: 1%;
}
.sevice-item span{
    display: block;
    height: 60px;
    width: 60px;
    color: #fff;
    background-color: aqua;
    font-size: 45px;
    margin: auto;
    line-height: 60px;
    border-radius: 20px 0 20px 0;
}
.sevice-item h3{
    margin: 20px 0;
    font-size: 35px;
    color: blue;
}
.sevice-item p{
    font-size: 23px;
    color: chocolate;
}

/* Blog section */
.blog-container{
    margin: 40px 0;
}
.blog-left-content{
    float: left;
    width: 70%;
}
.blog-item{
    margin-bottom: 60px;
}
.blog-item img{
    float: left;
    width: 160px;
    height: auto;
    margin-right: 25px;
}
/* blog- notificatiion */
.blog-left-notifi{
    float: right;
    width: 25%;
}
.blog-left-notifi h2{
    font-size: 45px;
    font-style: italic ;
    border-bottom: 3px solid #0652DD ;
    padding-bottom: 15px;
    margin-bottom: 15px;
}
.blog-left-notifi ul{
    list-style: none;
}
.blog-left-notifi ul li{
    font-size: 25px;
    padding: 10px;
    background-color: #2684a0aa;
    border: 1px solid #ddd;
    margin-bottom: 9px;
    border-radius: 7px;
}
/* Footer section */
.footer{
    background-color: #7f8c8d;
    color: #fff;
    padding: 15px 0;
}
.footer-left{
    float: left;
    width: 40%;
}
.footer-left p{
    font-size: 20px;
    font-style: italic;
}
.footer-right{
    float: right;
    width: 60%;
}
.social-menu{
    text-align: right;
}
.social-menu li{
    display: inline-block;
}
.social-menu li a{
    color: #fff;
    font-size: 25px;
    margin-left: 5px;
    transition: .5s;
}
