*{ 
    margin: 0px;
    padding: 0px;
}

.full-website{ 
              color: #fff;
              text-align: center;
              width: 1000px;
              margin: 0 auto;
              box-shadow: 1px 1px 10px rgba(49, 211, 189, 0.397);
}
.menu{ 
       background: #9b59b6;
       padding: 20px 0;
       margin-top: 25px;
}
.container{ 
           background: #e67e22;
           padding: 40px 0;
}
.footer{ 
        background: #2c3e50;
        padding: 60px 0;
}
.footer-bottom{ 
                background: #7f8c8d;
                padding: 15px 0;
}
img{ 
    max-width: 100%;
    margin-bottom: -7px;
}